@font-face {
    font-family: Caps;
    src: url(fonts/bpg-banner-caps-webfont.ttf);
}
@font-face {
    font-family: Regular;
    src: url(fonts/bpg-glaho-arial-webfont.ttf);
}
/* Generals */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
a:any-link {
    color: black;
    text-decoration: none
}
body {
    max-width: 1138px;
    padding: 0 20px;
    margin: 0 auto;
    font-family: Regular;
    background-color: #F9F9F9;
    /* position: relative;
    height: 100%; */
}

/* header */
header {
    background-color: #32125B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Caps;
    height: 101px;
    margin-bottom: 60px;
}
header::before {
    content: '';
    position: absolute;
    left: 0;
    background-color: #32125B;
    height: 101px;
    width: 100%;
    z-index: -1;
}

.main-nav {
    flex-grow: 1;
}
.nav-ul {
    display: flex;
}
.nav-ul li {
    position: relative;
    margin: 0 15px;
    font-size: 12px;
}
.nav-ul li:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 28px;
    height: 2px;
    background-color: #FF613B;
}
.nav-ul li:first-child {
    margin-left: 80px;
}
.nav-ul li a:any-link {
    color: #fff;
    line-height: 12px;
}

/* body .item {
    width: ;
} */
.pages {
    display: flex;
}
.magz {
    width: 47px;
    height: 47px;
    border-radius: 4px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.magz a {
    width: 19px;
    height: 19px;
}
.login {
    width: 174px;
    height: 47px;
    background-color: #FF613B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.login span {
    font-size: 12px;
    color: #fff;
}
.login img {
    width: 19px;
    height: 19px;
    margin-right: 10px;
}
.login div {
    display: flex;
    height: 19px;
    align-items: center;
}

/* categories */
.container {
    height: 342px;
    display: flex;
    font-family: Caps;
    font-size: 12px;
    margin-bottom: 60px;
    position: relative;
}
.categories {
    padding: 30px;
    background-color: #fff;
    width: 265px;
    margin-right: 26px;
    border-radius: 15px;
    font-weight: 600;
}
.ctgr-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.ctgr-ul li {
    position: relative;
}

.ctgr-ul li a:any-link {
    color: #32125B;
}
.ctgr-ul li a:hover {
    color: #FF613B;
}
.ctgr-ul li a::after {
    content: url(images/Layer\ 2.svg);
    position: absolute;
    right: 0;
}
.ctgr-ul li a:hover::after {
    content: url(images/chevron\ right.svg);
    position: absolute;
    right: 0;
    z-index: 3;
}
/* main */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 * 2);
}
main.sc-2 .huhuhaha {
    position: relative;
    width: 100%;
    height: calc(100% - 61px);
}
@media only screen and (min-width: 1191px) {
    .pagination-monitor {
        position: absolute;
        text-align: center;
        transition: .3s opacity;
        transform: translate3d(0,0,0);
        z-index: 10;
        right: -30px;
        bottom: 35%;
        opacity: 1;
    }
}


html body .swiper-pagination-clickable .swiper-pagination-bullet {
    width: 8px;
    height: 16px;
    display: block;
    border-radius: 167px;
    background: #EAE6EE;
    opacity: initial;
    outline: none;
    margin-bottom: 8px;
}
html body .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 8px;
    height: 32px;
    opacity: 1;
    display: block;
    background: #32125B;
    outline: none;
}
    /* search bar */
.srch-bar {
    width: 100%;
    display: flex;
    height: 48px;
    margin-bottom: 26px;
    border-radius: 10px;
    background-color: #fff;
    align-items: center;
    position: relative;
}
.search {
    font-family: Regular;
    border: none;
    font-size: 12px;
    margin-left: 30px;
    color: #ADA0BD;
    line-height: 23px;
    flex-grow: 1;
    outline: none;
}
.search::-webkit-search-cancel-button {
    display: none;
}
.search::placeholder {
    color: #ADA0BD
}
.srch-txt {
    font-family: Caps;
    font-size: 12px;
    width: 86px;
    display: flex;
    color: #ADA0BD;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.loop-icon {
    width: 35px;
    height: 35px;
    background-color: #FF613B;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 41px;
    margin-right: 6px;
}
    /* main background image */
.main-photo-slider {
    width: 100%;
    border-radius: 15px;
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
}
.main-photo-each.swiper-slide {
    height: 100%;
    width: 100%;
}
.main-photo-each.swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
}

/* Banners */
.sliders {
    position: relative;
}
.prods-slider {
    position: absolute;
    top: 49%;
}
.prods-slider-left {
    left: -30px;
}
.prods-slider-right {
    right: -30px;
}
.banners {
    height: 176px;
    margin-bottom: 90px;
    width: 100%;
    position: relative;
}
.banners-ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.item {
    height: 100%;
    width: 274.5px;;
}
.item picture {
    /* object-fit: ; */
    height: 100px;
    margin-bottom: 2px;
}
.item picture img {
    height: 100%;
}
.item:first-child {
    margin-left: 0;
}
.item:last-child {
    margin-right: 0;
}
.item p {
    font-family: Caps;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    color: #111111;
}

/* Top Products */
.top-products {
    margin-bottom: 60px;
}
.tp-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.tp-heading h1 {
    font-family: Caps;
    font-size: 24px;
    line-height: 25px;
    color: #32125B;
    font-weight: 500;
}
.tp-heading a:any-link {
    font-family: Regular;
    font-size: 12px;
    line-height: 16px;
    color: #FF613B;
}

.top-prod-ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: -26px 0 0 -26px;
    width: calc(100% + 26px);
}
.top-prod-items {
    height: 340px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 28px 20px 30px 20px;
    font-family: Caps;
    font-weight: 600;
    width: calc(100% / 4 - 52px);
    justify-content: space-between;
    flex-grow: 1;
    margin: 26px 0 0 26px;
}

.top-prod-items img {
    flex-grow: 1.5;
    object-fit: contain;
}

.tpi-txt {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    flex-grow: 1;
}
.descripxion {
    line-height: 22px;
    font-size: 15px;
    color: #111111;
}
.price-and-buy {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.add2buy {
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #F9F9F9;
}
.add2buy:hover {
    background-color: #32125B;
}
.add2buy img {
    width: 16px;
    height: 15px;
}
.price {
    line-height: 19px;
    font-size: 18px;
    color: #32125B;
}

/* about us */
.aboutus {
    width: 100%;
    height: 450px;
    display: flex;
    padding: 80px 60px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 90px;
}
.aboutus-txt {
    width: 40%;
    /* display: flex; */
    flex-flow: row wrap;
    align-items: center;
}
.aboutus-txt h1 {
    color: #111111;
    font-family: Caps;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 50px;
}
.aboutus-txt p {
    color: #32125B;
    font-family: Regular;
    font-size: 12px;
    line-height: 23px;
    margin-bottom: 50px;
}
.aboutus-txt a {
    color: #fff;
    font-family: Caps;
    font-size: 12px;
    line-height: 12px;
    padding: 14px 30px;
    background-color: #FF613B;
    border-radius: 4px;
}

/* footer */
hr {
    height: 1px;
    opacity: .2;
}
footer {
    height: 545px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
    ;
    color: #fff;
    font-family: Regular;
    font-size: 12px;
}
footer::after {
    content: '';
    position: absolute;
    background-color: #32125B;
    height: 545px;
    width: 100%;
    left: 0;
    z-index: -1;
}
.up-footer {
    display: flex
}
footer h3 {
    margin-bottom: 30px;
    font-family: Caps;
    font-size: 12px;
    font-weight: normal;
}
.first-part {
    margin-top: 60px;
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
}
.second-part {
    margin-top: 60px;
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
}
.footer-cats ul {
    height: 276px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.footer-menu ul {
    height: 120px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.logo-dscr {
    flex-basis: 0;
    flex-grow: 1;
}
.logo-dscr p {
    line-height: 23px;
    width: 90%;
    font-size: 12px;
    font-weight: 100;
    margin-top: 50px;
}
.footer-cats {
    flex-basis: 0;
    flex-grow: 1;
}
.ftr-cats-li a:hover {
    color: #FF613B;
}
.footer-menu {
    flex-basis: 0;
    flex-grow: 1;
}
.footer-menu-li a:hover {
    color: #FF613B;
}
.footer-social {
    flex-basis: 0;
    flex-grow: 1;
}
footer a:any-link{
    color: #fff;
}

.footer-soc-li {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.socc {
    background-color: #5B417B;
    padding: 15px 14px 14px 15px;
    width: 48px;
    height: 48px;
    margin-right: 25px;
}
.socc img {
    width: 19px;
    height: 19px;
}

.respo-menu {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #fff;
    z-index: 999;
}
.respo-menu-logo svg rect.a {
    fill: #fff;
}
.respo-menu-logo svg path.b {
    fill: #111;
}
.respo-menu-logo:first-child svg path.b {
    fill: #FF613B;
}
.respo-menu-logo:first-child svg rect.a {
    fill: #fff;
}
.respo-menu-logo.mid {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF613B;
}
.respo-menu-logo.mid svg {
    fill: #fff;
}
.respo-menu-logo.mid svg rect.a{
    fill: #FF613B;
}
.respo-menu-logo.mid svg path.b{
    fill: #fff;
}

.licenses {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}
.licenses span {
    color: #FF613B;
}
.bannerebi {
    position: relative;
}
html body .banners-ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.marginer {
    /* width: 100%; */
    height: 100%;
    margin: 0 13px;
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}




:root {
    --swiper-theme-color: initial;
    --swiper-navigation-size: 20px;
}

.swiper-button-prev {
    left: -30px;
}
.swiper-button-next {
    right: -30px;
}
.resp-footer {
    display: none;
}

/* bobobobobobobo!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media only screen and (max-width: 1190px) {
    body {
        padding: 0 -30px;
        
    }
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }

    #pag {
        bottom: -25px;
        display: flex;
        right: 39%;
    }
    html body .swiper-pagination-clickable .swiper-pagination-bullet {
        width: 16px;
        height: 4px;
        display: block;
        border-radius: 167px;
        background: #EAE6EE;
        opacity: initial;
        outline: none;
        margin-bottom: 0;
        margin-right: 8px;
    }
    html body .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 32px;
        height: 4px;
        opacity: 1;
        display: block;
        background: #32125B;
        outline: none;
    }
}

@media only screen and (max-width: 830px) {
    body {
        padding: 0 10px;
    }
    .loop-icon {
        margin-left: 5px;
    }
    .search {
        font-size: 11;
    }
    .nav-ul li:first-child {
        margin-left: 20px;
    }
    .nav-ul li {
        margin: 0 5px;
    }
    .magz {
        margin-right: 5px;
    }
}



@media only screen and (max-width: 720px) {
    .up-footer,
    .down-footer {
        display: none;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 360px;
    }
    footer::after {
        height: 360px;
    }
    .resp-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 16px;
    }
    .resp-footer p:last-child {
        font-size: 14px;
        line-height: 19px;
        margin-top: 16px;
    }
    .resp-footer span {
        color: #FF613B;
    }
    .aboutus {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aboutus-txt{
        width: 100%;
    }
    .aboutus-txt .learnmore {
        display: flex;
        width: 100%;
        padding: 0;
        height: 50px;
        justify-content: center;
        align-items: center;
    }
    .aboutus-bg {
        display: none;
    }
    .main-nav,
    .pages {
        display: none;
    }
    header {
        justify-content: center;
    }
    .categories,
    .srch-bar{
        display: none;
    }
    body .item {
        width: unset;
    }
    .respo-menu {
        display: flex;
    }
}
.srch-div {
    position: relative;
}
.cat-toggle-ul {
    display: flex;
    z-index: 5;
    position: absolute;
    right: -5px;
    top: 30px;
    width: 174px;
    height: 168px;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 30px 36px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.cat-toggle-li a:any-link {
    font-size: 15px;
    color: #4d4d4d;
    opacity: 0.7;
}
html body .hidden {
    display: none;
}

.top-prod-items.respo-prod-width {
    width: 200px;
}
.respo-prod-ul {
    flex-flow: row nowrap;
}